/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth-wrapper {
    height: calc(100% - 64px);
    overflow-y: hidden;
}

.capture-image {
    width: 240px;
    height: 150px;
}
